<a href="https://colab.research.google.com/github/rturquier/depythons/blob/main/Rendu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Projet informatique - Python pour le data scientist
##### Jérémie Stym-Popper, Luca Teodorescu, Rémi Turquier
# Les députés de l'opposition s'expriment-il différemment de ceux de la majorité ?

[Titre temporaire, c'est juste pour voir si ça marche]

In [2]:
# Imports
import pandas as pd

## Récupération des données
Les données ont été récupérées par l'intermédiaire de [l'API](https://github.com/regardscitoyens/nosdeputes.fr/blob/master/doc/api.md) mise à disposition par l'association Regards citoyens.

[à compléter]

## Nettoyage des données
Après une exploration préliminaire, nous avons choisi de nous concentrer sur deux groupes parlementaires. Les groupes LFI et LR nous ont paru ceux les plus susceptibles d'utiliser un discours différent et que nous pourrions distinguer dans notre modèle.

In [152]:
# Import des données brutes récupérées avec l'API
data_url = "https://raw.githubusercontent.com/rturquier/depythons/main/Stock_csv/gd_inter.csv"
df_brut = pd.read_csv(data_url)
df_brut.sample(n=5)

     Unnamed: 0  ...                                      interventions
4             4  ...  [" C'est limpide. ", ' Ils le font déjà ! ', '...
130         130  ...  [" Non, mais je voudrais remercier monsieur le...
35           35  ...  [" Depuis le début de la séance, nos collègues...
51           51  ...  [' Eh oui ! ', " Cet été, le Gouvernement a dé...
1             1  ...  [" L'engagement de la procédure accélérée sur ...

[5 rows x 4 columns]

In [154]:
# Création d'une indicatrice `droite` qui sera la cible de la classification
df_brut = df_brut.\
            assign(droite = df_brut["groupe"] == "LR").\
            sort_values(by = ["droite"], ascending = False)
df_brut.head()

    Unnamed: 0  ... droite
84          84  ...   True
34          34  ...   True
22          22  ...   True
23          23  ...   True
86          86  ...   True

[5 rows x 5 columns]

In [155]:
# Équilibrage du nombre de députés
def balance_left_right(df):
  count = df.droite.value_counts()
  n_droite, n_gauche = count[True], count[False]
  df = df.sort_values(by = ["droite"], ascending = False)
  
  if n_droite > n_gauche :
    df = df[n_droite - n_gauche:]
  elif n_droite < n_gauche :
    df = df[2 * n_droite:]

  return df

df_brut = balance_left_right(df_brut)
df_brut.droite.value_counts()

True     51
False    51
Name: droite, dtype: int64

In [156]:
# Régler un problème de type
from ast import literal_eval
def convert_to_list(interventions):
  return literal_eval(str(interventions))

df_brut["interventions"] = df_brut["interventions"].apply(convert_to_list)
df_brut

     Unnamed: 0  ... droite
68           68  ...   True
71           71  ...   True
66           66  ...   True
41           41  ...   True
39           39  ...   True
..          ...  ...    ...
136         136  ...  False
137         137  ...  False
138         138  ...  False
139         139  ...  False
167         167  ...  False

[102 rows x 5 columns]

In [161]:
# Séparer toutes les interventions en colonnes différentes
df_brut = df_brut.explode("interventions")

In [170]:
# Créer une feature "longeur de l'intervention"
df_brut = df_brut.assign(longeur = df_brut["interventions"].str.len())
df_brut

     Unnamed: 0 groupe  ... droite longeur
61           61     LR  ...   True      42
61           61     LR  ...   True     312
61           61     LR  ...   True     200
60           60     LR  ...   True     655
60           60     LR  ...   True     651
..          ...    ...  ...    ...     ...
156         156    SOC  ...  False     663
156         156    SOC  ...  False     578
156         156    SOC  ...  False     660
156         156    SOC  ...  False     421
167         167    SOC  ...  False     669

[4908 rows x 6 columns]